<p-card header="Manage Your Devices">
  <api-response [apiResponse]="devices$" errorMessage="Error loading devices" loadingMessage="Loading devices...">
    <ng-template #success let-devices>
      <p-table [value]="devices">
        <ng-template pTemplate="header">
          <tr>
            <th><i class="pi pi-trash"></i></th>
            <th>Last Seen</th>
            <th>Details</th>
            <th>IP Address</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-device>
          <tr>
            <td>
                <confirm-dialog [key]="device.id" />
                <p-button severity="danger" icon="pi pi-trash" title="Remove device" (onClick)="revokeDevice($event, device.id)" />
            </td>
            <td>{{ device.lastSeen | date : "short" }}</td>
            <td>{{ device.details }}</td>
            <td>{{ device.ipAddress }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="100%">There are no logged in devices.</td>
            </tr>
          </ng-template>
      </p-table>
      <error-list [errors]="errors" />
    </ng-template>
  </api-response>
</p-card>
