@if(apiResponse | async; as response) { @if (response.result; as result) {
<ng-container *ngTemplateOutlet="successTemplateRef; context: { $implicit: result }" />
} @else {
<ng-container *ngTemplateOutlet="errorTemplateRef || defaultErrorTemplate; context: { $implicit: response }" />
} } @else {
<ng-container *ngTemplateOutlet="loadingTemplateRef || defaultLoadingTemplate"> </ng-container>
}

<ng-template #defaultErrorTemplate let-response>
  <p>{{ errorMessage }}</p>
  <error-list [apiResponse]="response" />
</ng-template>

<ng-template #defaultLoadingTemplate>
  <p>{{ loadingMessage }}</p>
</ng-template>
