<focus-content-layout>
  <span title>Welcome!</span>
  <span subtitle>Sign in to continue</span>

  <div class="w-30rem">
    <form [formGroup]="form" (ngSubmit)="logIn()" autocomplete="off">
      <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
      <input
        id="email"
        type="text"
        placeholder="Email address"
        pInputText
        formControlName="email"
        class="w-full md:w-30rem mb-5"
        style="padding: 1rem"
      />

      <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
      <p-password
        formControlName="password"
        styleClass="mb-5"
        inputStyleClass="w-full p-3 md:w-30rem"
        [inputStyle]="{ paddingLeft: '2.5rem' }"
        placeholder="Password"
        [toggleMask]="true"
        [feedback]="false"
      />

      <div class="flex align-items-center justify-content-between mb-5 gap-5">
        <div class="flex align-items-center">
          <p-checkbox name="checkbox" formControlName="rememberMe" styleClass="mr-2" [binary]="true" label="Remember me" />
        </div>
        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" [routerLink]="'reset-password' | route"
          >Forgot password?</a
        >
      </div>

      <error-list [errors]="errors" />

      <p-button type="submit" label="Sign In" styleClass="w-full p-3 text-xl" [disabled]="!form.valid" pRipple />
    </form>

    <div class="flex flex-column mt-4">
      <a [routerLink]="'register' | route">I need to create an account</a>
    </div>
  </div>
</focus-content-layout>
