<focus-content-layout>
  <span title>Forgot Password?</span>
  <span subtitle>Enter your email to reset your password</span>

  <div class="w-30rem">
    <form [formGroup]="form" (ngSubmit)="resetPassword()" autocomplete="off">
      <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
      <input
        id="email"
        type="text"
        placeholder="Email address"
        pInputText
        formControlName="email"
        class="w-full md:w-30rem mb-5"
        style="padding: 1rem"
      />

      <error-list [errors]="errors" />

      <p-button type="submit" label="Reset Password" styleClass="w-full p-3 text-xl" [disabled]="!form.valid" pRipple />

      <div class="mt-4 flex flex-wrap gap-3">
        <a [routerLink]="'login' | route" class="ml-auto">Return to login</a>
      </div>
    </form>
  </div>
</focus-content-layout>
