<h1>Manage your profile</h1>

@if (profile$ | async; as response) { @if (response.result; as profile) {
<p>{{ profile.userName }}</p>
<p>{{ profile.email }}</p>
} @else {
<p>Unable to load profile:</p>
<ul>
  @for (error of response.errors; track $index) {
  <li>{{ error }}</li>
  }
</ul>
} } @else {
<p>Loading profile</p>
}

<div>
    <p-button (onClick)="logOut()" label="Log Out" />
</div>

<h2>Logged in devices</h2>
@if (devices$ | async; as response) { @if (response.result; as devices) {
<p-table [value]="devices">
  <ng-template pTemplate="header">
    <tr>
      <th><i class="pi pi-trash"></i></th>
      <th>Last Seen</th>
      <th>Details</th>
      <th>IP Address</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-device>
    <tr>
      <td><p-button severity="danger" icon="pi pi-trash" title="Remove device" (onClick)="revokeDevice(device.id)" /></td>
      <td>{{ device.lastSeen | date : "short" }}</td>
      <td>{{ device.details }}</td>
      <td>{{ device.ipAddress }}</td>
    </tr>
  </ng-template>
</p-table>
} @else {
<p>Unable to load devices:</p>
<ul>
  @for (error of response.errors; track $index) {
  <li>{{ error }}</li>
  }
</ul>
} } @else {
<p>Loading devices...</p>
}
