<focus-content-layout>
  <span title>New Password</span>
  <span subtitle>Enter your new password below</span>

  <div class="w-30rem">
    <form [formGroup]="form" (ngSubmit)="newPassword()" autocomplete="off">
      <div class="flex flex-column">
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-lock z-2"></i>
          <p-password
            formControlName="password"
            placeholder="Password"
            styleClass="w-full"
            [inputStyle]="{ paddingLeft: '2.5rem' }"
            inputStyleClass="w-full md:w-25rem "
            [toggleMask]="true"
          />
        </span>
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-lock z-2"></i>
          <p-password
            formControlName="confirmPassword"
            placeholder="Repeat Password"
            styleClass="w-full"
            [inputStyle]="{ paddingLeft: '2.5rem' }"
            inputStyleClass="w-full md:w-25rem"
            [toggleMask]="true"
          />
        </span>
        <div class="mb-4 flex flex-wrap gap-3">
          <p-checkbox name="checkbox" formControlName="rememberMe" styleClass="mr-2" [binary]="true" label="Remember me" />
        </div>

        <error-list [errors]="errors" />
        <p-button type="submit" label="Set Password" styleClass="w-full" [disabled]="!form.valid" />
        <div class="mt-4 flex flex-wrap gap-3">
          <a [routerLink]="'login' | route" class="ml-auto">Return to login</a>
        </div>
      </div>
    </form>
  </div>
</focus-content-layout>
